# Build directories
build/
dist/
bin/
obj/

# Generated build metadata
compile_commands.json

# Binaries and object files
*.o
*.obj
*.a
*.lib
*.so
*.dylib
*.dll
*.exe
*.exe.old
*.out
toy.out
toy_forth
toy_forth.out

# Editors and AI 
.cache/
.vscode/
.idea/
.vs/
*.swp
*.swo
.DS_Store
GEMINI.md
CLAUDE.md
.claude/
compile_flags.txt

# Local tools
Makefile
copy_toy.ps1

# Tools
node_modules/
*.vsix
tools/tree-sitter-toy/src
tools/tree-sitter-toy/src/parser.c
tools/tree-sitter-toy/src/grammar.json
tools/tree-sitter-toy/src/node-types.json
tools/toy-lsp/internal/parser/toy/parser.c
examples/packages/bindgen/*/generated.c
examples/packages/**/toy.package
